<style>
    #switc{
        margin-left: 0px;
        float:none;
        margin-right: 22%;
    }
</style>
<h2>{{book.title}}</h2>
<script id="example-template" type="text/x-handlebars-template">
    
</script>
<form method="POST" action="">
<div>
    <label for="Title">Title:</label>
    <input class="form-control" type="text" id="title" name="title" value= {{book.title}}>
</div>
<div>
    <label for="Time">Read Date:</label>
    <input class="form-control" type="date" id="time" name="time" value= {{book.time}}>
</div>
<div>
    <label for="Rating">Rating:</label>
    <input class="form-control" type="number" id="rating" name="number" placeholder= "1 - 5" value= {{book.rating}} min="1" max="5">
</div>
<div>
    <label for="ContentOverview">Content Overview:</label>
    <textarea class="form-control" name="contentOverview" id="contentOverview">{{book.contentOverview}}</textarea>
</div>
<div>
    <label for="Comment">Comment:</label>
    <textarea class="form-control" name="comment" id="comment">{{book.comment}}</textarea>
</div>
    <label for="Status">Plan to Read Again?</label>
{{#if book.status}}
<div class="form-check form-switch">
    <input id="switc" class="form-check-input" name = "check" type="checkbox" id="flexSwitchCheckDefault" checked>
</div>
{{else}}
<div class="form-check form-switch">
    <input id="switc" class="form-check-input" name = "check" type="checkbox" id="flexSwitchCheckDefault">
</div>
{{/if}}
<input class="d-grid col-5 mx-auto btn btn-primary" type="submit" value="Confirm Change">
</form>
