<h2>{{bookList.name}}</h2>
<br>
<div class = "booklist">
    <b>Created BY:</b> <u>{{bookList.user.username}}</u><br>
    <br>
    <b>Created AT:</b> {{bookList.createdAt}}<br>
    <br>
    <b>Booklist Description:</b> <br>
    <div class = "listdesc">
        {{bookList.description}}<br>
    </div>
    <br>
    <b>BOOKS:</b> 
    <a href="/booklist/{{bookList.name}}/addbook">Add Book</a>
    <br>
    <div class = "listdesc">
        {{booklist.items}}
    </div>
</div>
